*{
    background-color: F5FAE1;
    margin:0;
}
.taskbox{
    font-size: 50px;
    background-color: aqua;
    height: 400px;
    width:400px;
    border: 10px solid black;
    padding: 10px;
    position: absolute;
    top: 25%;
    left: 30%;
}
.taskadder{
    background-color: aqua;
    height:30px;
    width:430px;
    position: absolute;
    top:20%;
    left:30%;

}