@font-face {
    font-family:femme;
    src: url(font/LafemmevibeRegular-DOD83.otf);
}
*{

    margin:0;
}
body{
     background-image: url("images/Untitled\ design\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.taskbox{
    border: 2px solid #1C6EA4;
    background-color: #FF714B;
    border-radius: 10px;
    font-size: 50px;
    height: 400px;
    width:400px;
    padding: 10px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.taskList{
    background-color: #FF714B;
    color: #FFF9AF;
    font-size: 30px;
    font-family: 'femme', Courier, monospace;
}
.list{
    background-color: #FF714B;
}
.taskadder{
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom:3px solid #154D71;
    background-color: #FF714B;
    font-family: 'femme', Courier, monospace;
    font-weight: bold;
    color: #154D71;
    border-radius: 10px;
    height:30px;
    width:430px;
    position: absolute;
    top:25%;
    left:50%;
    transform: translate(-50%,-50%);
}



.taskbutton{
    position: absolute;
    top:25%;
    left:70%;
    transform: translate(-30%,-50%);
}
.button1{
    border: 2px solid #1C6EA4;
    background-color: #FF714B;
    color: #FFF9AF;
    font-family: 'femme', Courier, monospace;
    height: 30px;
    width: 90px;
    border-radius: 20px;
}
#addTask:hover{
    background-color: #FFF9AF;
    color: #33A1E0;
}
.tasker{
    font-family: 'femme', Courier, monospace;
    color: #FF714B;
    position: absolute;
    top:12%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 80px;
}