*{
    background-color: F5FAE1;
    margin:0;
}
.taskbox{
    font-size: 50px;
    background-color: aqua;
    height: 400px;
    width:400px;
    border: 10px solid black;
    padding: 10px;
    position: absolute;
    top: 25%;
    left: 30%;
}
.taskadder{
    background-color: aqua;
    height:30px;
    width:430px;
    position: absolute;
    top:20%;
    left:30%;
}
.podomoro{
    background-color: aqua;
    border: 5px solid black;
    height:50px;
    width:200px;
    padding:10px;
    margin-top:30px;
    position:sticky;
    top:10%;
    left: 40%;
}